/* @extend display-flex; */
display-flex, .display-flex, .display-flex-center, .signin-content {
    display: flex;
    display: -webkit-flex;
}

body {
    font-family: Monaco, sans-serif;
    background-color: #eef;
}

.main {
    align-content:center;
    margin-top: 2%;
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    height: 80%;
    align-items:start;

    margin-top:2%;
    margin-right: 20%;
    margin-left: 20%;

    background: white;
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
}

.main-section{
    margin-top: 20%;
}
.img_small{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width:325px;
    height:150px;
    margin-top: 7%;
}
h1 {
    margin-top:0;
    text-align: center;

    font-size: 1.4rem;
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


/**
*
Side SECTION 
*/
.side-section {
    margin-right: 5%;
}

.signin-form{
    margin:0;
    margin-top: 30%;
    overflow: hidden;
}
.form-title {
    color: #f5cf15;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}
.input-wrapper {
    position: relative;
}
.form-group input {
    width:80%;
    padding: 10px 30px;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 9px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

    font-family: Poppins, sans-serif;
    font-size: 1rem;
}
.icon-form {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: transparent;
    width: 17px;
    height: 17px;
}
input:focus {
    outline:none;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.form-group:nth-child(2) {
    margin-bottom: 5px;
}
#form-submit {
    display: inline-block;
    width: 80%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 15px 39px;

    background: #0099ff;
    font-size: 16px;
    color: white;
    cursor: pointer;
    &:hover {
        background: #34495e;
        color: #0099ff;
    }
}


