*:focus {
  outline: none;
  box-shadow: none;
}

html, body {
    height: 100%;
    width:100%;
    margin: 0;
    overflow:hidden;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    color: #666;
    background: #eef;
    overflow:hidden;

}

.layout {
    display: flex;
    height: 100vh;
    background-color: #eef;
    overflow: hidden;
}

.img_small{
    margin: 0;
    padding:0;
    width: 200px;
    height: 200px;

    position:relative;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar p{
    font-size: 0.9rem;
    font-weight: lighter;
    margin-top:0;
    margin-left:30px;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 15%;
    background-color: white;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    overflow-x: hidden;
    z-index: 1000;
}
.sidebar .icon {
    flex: 0 0 50px;
    font-size: 1.3rem;
    margin-right: 15px;
    width: 24px;
    text-align: center;
}
.sidebar .icon-home {
    width: 17px;
    height: 17px;
    margin-right: 15px;
}
.sidebar .entries {
    flex: 1;
    font-size: 0.9rem;
    font-weight: 500;
}

.tab, .tab2{
    display: flex;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 12px;
    width: 90%;
    padding: 15px;
    background-color: white;
    color: grey;
    border: none;
    cursor: pointer;

    transition: transform 0.2s ease;
}
.tab.active, .tab2.active {
    text-decoration: none;
    border:none;
    border-radius: 20px;
    background-color: #eef;
    transition: transform 0.2s ease;
    color: black;
}
.tab:not(.active):hover,
.tab2:not(.active):hover {
    transform: scale(1.1);
    color: black;
    border: none;
}

.dropdown {
    position: relative;
}
.content {
    display: none;
    flex-direction: column;
    margin-left: 40px;
    border-left: 3px solid #1abc9c;
    padding-left: 20px;
    padding-bottom: 10px;

    opacity: 0;
    transition: opacity 0.5s ease;
}
.content.show {
    opacity: 1;
}
.content button {
    padding: 15px 0 15px 0;
    text-decoration: none;
    text-align:left;
    background-color: transparent;
    color: gray;
    border: none;

    transition: transform 0.2s ease;
}
.content button:hover {
    transform: scale(1.1);
}


.panel {
    position: relative;
    flex: 1;
    display: flex;
    background: rgba(238, 238, 238, 0.7);

    opacity: 1;
    transition: opacity 0.4s ease;
}
.panel iframe{
    flex:1;
    border:none;
}
.panel.fade-out {
    opacity: 0;
}

#toggleSidebar {
    display: none;
}
@media (max-width: 768px) {
    /**Tailored for mobile phones**/
    #toggleSidebar {
        display: block;      /* show button */
        margin: 10px;
        font-size: 24px;
    }

    .sidebar {
        top: 0;
        left: -250px;        /* hidden off-screen */
        height: 100%;
        z-index: 1000;
        transition: left 0.3s;
    }

    .sidebar.active {
        left: 0;             /* slide in */
    }

    .layout {
        flex-direction: column;  /* content below for mobile */
    }
}



