*:focus {
    outline: none;
    box-shadow: none;
}

/**
BOUTONS
&
ICONES
*/
.icon-btn {
    display: flex;
    margin-right: 15px;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    padding: 8px;
}
.icon-btn-td {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;   /* control spacing */
    margin: 0;

    background: #ccc;
    border-radius: 16px;
    border:none;
    cursor: pointer;
}
#details-btn{
    position: relative;
    right: 10px;
}

#latest_banner svg {
    transition: transform 0.2s ease;
}
#latest_banner svg:hover{
    transform: scale(1.2);
}
.icon-btn-header {
    display: flex;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    padding: 8px;
    background-image: whitesmoke;
}
.icon-home {
    
    width: 17px;
    height: 17px;
}


/**
BODY
*/
body{
    font-family:Arial, sans-serif;
    font-size: 0.9rem;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #666;
    height: 100%;
    margin:0 1.5% 0 17%;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* keeps items vertically centered */
    margin-top: 1%;
    margin-bottom:1%;
    width: 100%; /* use full width of parent */


    height: 5%;
}
.navbar header-left {

    font-family: Segoe, sans-serif;
    color: #34495e;
    font-weight: bold;
    white-space: nowrap;
}
.search-box {
    width: 250px;
    margin-right: 200px;
}
.search-box input {
    width: 100%;
    color: brown;
    padding: 6px 9px;
    border: 2px solid #ccc;
    border-radius: 16px;
    font-size: 0.9rem;
    outline: none;
    transition: border-color 0.3s;
}
.search-box input:focus {
    border-color: #0078d7; /* highlight color when focused */
}
.navbar header-right {
    margin-right: 5%;
}
.header_btn{
    display: flex;
    position: relative;
    align-content: center;
    gap: 10px;
}
.header_icon {
    position: relative;
    display: inline-flex;
    background-color: white;
    color: black;
    align-items: center;
    padding: 8px;
    border: none;
    border-radius: 16px;
    cursor: pointer;

    transition: transform 0.2s ease;
}
.header_icon:hover {
    transform: scale(1.1);
}
.header_icon .notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: none; /* caché par défaut */
}
.dropdown {
    display: none; /* caché par défaut */
    position: absolute;
    right: 0;
    top: 100%; /* juste sous le bouton */
    margin-top: 5px;
    background: #fff;
    border: 1px solid #ccc;
    width: 250px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 100;
    padding: 0;
}

.dropdown li {
    list-style: none;
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.dropdown li:last-child {
    border-bottom: none;
}

/**
*
*
*
Main SECTION
*/
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: start; /* prevents equal height stretching */

    height: 100%;
}

.banner {
    width: 90%;
    height: 100%;
    border-radius: 14px;
}

#charts_banner .header {
    align-items: center;
    padding: 10px;
    outline: none;
    font-size: 1.1rem;

    width:100%;
}

#charts_banner .header-left {
    width: 80%;
    padding-left: 2%;
    display:flex;
    align-items: center;
    gap: 8px;
}

.charts_section {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: start;
}
/**Section for chart.js graph**/
.cards-section {
    width: 65%;
}
#charts_banner {
    color: #666;
    background-color: white;
}
.chart-wrap {
    position: relative;
    padding: 25px;
    height: 25%;
}
.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side,#766DF4 94%,#0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%,#766DF4);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s5 1s infinite linear;
}
@keyframes s5{
    100%{
        transform: rotate(1turn)
    }
}
.chart-loader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/**Section for stats cards **/
.side-section {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    grid-auto-rows: 1fr;                   /* all rows same height, auto-generated */
    align-self: start;
    width:45%;

    gap: 20px;
}
.card {
    display: grid;
    position: relative;
    background: #215f91;
    background: linear-gradient(175deg,rgba(33, 95, 145, 1) 0%, rgba(0, 82, 145, 1) 35%, rgba(0, 170, 204, 1) 100%);
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    
    width: 95%;
    min-height: 115px;

    text-align: center;
    align-items: center;
    color: white;
}
.card_stats {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 8px;
    font-weight: 600;

    fill: white;
}
.card_change {
    position: absolute;
    background: white;
    top: 10px;
    right: 10px;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 8px;
    font-weight: 600;
}
/* positive change */
.card_change.up {
    background: white;
    color: #0078d7;
}
/* negative change */
.card_change.down {
    background: white;
    color: #d93025;
}
.card h2 {
    margin:0;
    position: relative;
    top: 30%;
    font-size: 1.3rem;
}
.card p {
    margin: 0;
    font-size: 0.8rem;
}


.reqtable {
    width: 100%;
    background: #ffffff;
    
    border-collapse: separate;
    border-spacing: 0;
    box-sizing: border-box;
}
.reqtable thead {
    border: 1px solid transparent;
    background: #eef;
    overflow:hidden;
}
.reqtable thead th:first-child {
    border-top-left-radius: 8px;
}
.reqtable thead th:last-child {
    border-top-right-radius: 8px;
}
.reqtable td:hover {
    background: whitesmoke;
}
#latest_banner {
    position: relative;
    width: 100%;
    margin-top: 17px;
    padding: 10px;
    box-sizing: border-box;

    border-radius: 14px;
    color: #666;
    background-color: white;
    overflow: hidden;
}
#latest_banner .header{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;

    
    outline: none;
    font-size: 1.1rem;
}
/* Tableau des derniers congés */
#latest_banner .header-left{
    display:flex;
    align-items: center;
    gap: 8px;
}
#latest_banner .header-right{
    display: flex;
    flex-direction: row;
    margin: 0px;
}
#latest_banner .search-box {
    position: relative;
    margin-right: 5px;
}
#latest_banner .search-box input {
    width: 80%;
    color: black;
    padding: 6px 9px;
    border: 1px solid #ccc;
    border-radius: 14px;
    font-size: 0.9rem;
    outline: none;
    transition: border-color 0.3s;
}
#latest_banner .search-box input:focus {
    border-color: #0078d7; /* highlight color when focused */
}
#dateFilter, #statusFilter {
    position :relative;
    padding: 5px;
    background: whitesmoke;
    color: #333;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor:pointer;

    transition: background 0.6s ease;
}
#dateFilter:hover, #statusFilter:hover, #typeFilter:hover {
    background: white;
}


.status {
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.status-rejected {
    color: red;
}
.status-approved {
    color: green;
}
.status-pending {
    color: orange;
}

.bar {
    width: 95%;
    margin: 0 auto;
    height: 1px;
    background-color: lightslategray;
}

.avatar {
    align-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

